.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(225, 100%, 98%);
}

@media (min-width: 768px) {
  .App {
    background-image: url('../public/images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
}

@media (max-width: 767px) {
  .App {
    background-image: url('../public/images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
}
